.App {
  font-family: sans-serif;
}

.formContainer {
  margin: auto;
  padding: 40px;
  background-color: aliceblue;
}

input[type="text"] {
  margin-left: 10px;
}

.formField {
  display: block;
  padding: 20px;
}

.actionButton {
  float: right;
}

td,
th {
  padding: 10px;
}
